/preprocessed_data/
/trained_models/
/provided-data/
/Results/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/DoseDiff.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
